.vfen-wrap {

  background: #ffd580;
}


.vdrops-wrap {
}

.vdrops-wrap .vhead,
.vdrops-wrap vdrops {
  background: #efc560;
}



square.light {
  background: lightyellow;
}

square.dark {
  background: darkcyan;
}

square.highlight {
  background: yellow;
  opacity: 0.5;
}

squares square {
  border-radius: 1px;
}

files, ranks {
  z-index: 1;
}

files file {
  text-align: left;
}

ranks rank {
  align-items: flex-start;
}


.black files file:nth-child(odd),
.black ranks rank:nth-child(odd),
.white files file:nth-child(even),
.white ranks rank:nth-child(even) {
  color: darkcyan;
}

.black files file:nth-child(even),
.black ranks rank:nth-child(even),
.white files file:nth-child(odd),
.white ranks rank:nth-child(odd) {
  color: lightyellow;
}

vchessreplay {
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(20, 20, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightyellow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



select {
  width: 8em;
  border: none;
}
